.container {
	width: 100vw;
	height: 100vh;
	overflow: scroll;
}

.new {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60rpx;
	margin: 20rpx 0;
	
	.new-up {
		width: 700rpx;
		height: 60rpx;
		line-height: 60rpx;
		font-size: 18px;
		color: rgb(167, 125, 80);
		text-align: center;
		letter-spacing: 8rpx;
	}
}

.calendar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 300rpx;
	margin-top: -30rpx;
	
	.calendar_out {
		width: 680rpx;
		height: 250rpx;
		background: url("/static/find/calendar.png");
		background-size: 100% 100%;
		box-shadow: 5px 15px 25px 0 rgb(191, 191, 191);
		overflow: hidden;
		
		.top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 100rpx;
			
			.date {
				width: 200rpx;
				margin-left: 30rpx;
				color: rgb(191, 191, 191);;
				
				.month {
					display: inline-block;
					color: rgb(255, 255, 255);
					font-size: 36rpx;
					letter-spacing: 5rpx;
				}
				
				.year {
					display: inline-block;
					font-size: 20rpx;
				}
			}
			
			.record {
				font-size: 20rpx;
				margin-right: 30rpx;
				color: rgb(191, 191, 191);
			}
		}
		
		.bottom {
			// height: 130rpx;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding-left: 30rpx;
			
			.eachday {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-right: 30rpx;
				color: #fff;
				
				.name {
					margin-bottom: 15rpx;
				}
				
				.number {
					width: 50rpx;
					height: 50rpx;
					line-height: 50rpx;
					border-width: 4rpx;
					border-style: solid;
					border-radius: 50%;
					text-align: center;
				}
				
			}
		}
	}
}

.color-gold {
	color: rgb(221, 195, 136);
}

.border-gold {
	border-color: rgb(252, 162, 66);
}

.border-grey {
	border-color: rgb(191, 191, 191);
}

.tabs {
	width: 330rpx;
	padding-left: 50rpx;
	margin-bottom: 10rpx;
}

.cell {
	border-top: 12rpx solid rgb(221, 195, 135);
	padding-bottom: 10rpx;
	
	.cell-main {
		padding: 0 10rpx 0 20rpx;
		letter-spacing: 5rpx;
		.cell-title {
			color: #000;
			font-weight: 600;
			font-size: 35rpx;
		}
		
		.cell-author {
			display: flex;
			margin: 10rpx 0;
			color: rgb(147, 147, 147);

			.cell-icon {
				width: 50rpx;
				height: 50rpx;
				background-size: 100% 100%;
				border-radius: 50%;
			}
			
			.cell-nickname {
				margin: 0 15rpx;
				font-weight: 600;
			}
				
			.cell-rank {
				font-size: 12rpx;
				transform: scale(0.8);
				margin: 5rpx 0 0 -20rpx;
			}
		}
		
		.cell-profile {
			margin-top: -10rpx;
			font-size: 12rpx;
			line-height: 32rpx;

			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 4; // 显示2行
			-webkit-box-orient: vertical;
			word-break: break-all; 

		}
	}
	
	.cell-image {
		width: 210rpx;
		height: 150rpx;
		background-size: 100% 100%;
		margin-top: 80rpx;
	}
}

.blank {
	width: 100%;
	height: 90rpx;
}

