	// page {
	// 	max-height: 100%;
	// }
	
	.container {
		position: relative;
		width: 100vw;
		min-height: 100%;
		overflow: scroll;
		background-image: url("../../static/bg.jpg");
		background-size: 100% 100%;
		padding: 0 0 40rpx 0;
	}
	
	/* 隐藏滚动条 */
	.container::-webkit-scrollbar {
	  display: none;
	}
	
	.create-icon {
		position: fixed;
		display: flex;
		right: 30rpx;
		top: 1400rpx;
		background-color: rgb(228, 197, 152);
		width: 70rpx;
		height: 70rpx;
		justify-content: center;
		align-items: center;
		z-index: 1200;
		border-radius: 50%;
		border: 2px solid rgb(228, 197, 152);
	}
	
	.record {
		// display: flex;
		width: 90%;
		// height: 500rpx;
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		padding: 0 30rpx;
		// height: 100vh
	}
	
	.sign-record-per {
		display: flex;
		margin: 0 0 60rpx 0;
		padding: 0 0 30rpx 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	
	.avatar {
		margin-right: 20rpx;
	}
	
	.main {
		width: 600rpx;
	
		.nickname {
			margin-bottom: 10rpx;
			color: rgb(228, 197, 152);
			font-weight: 600;
			font-size: 25rpx;
		}
	
		.publish_time {
			margin-bottom: 20rpx;
			font-size: 18rpx;
			color: gray;
		}
	
		.content {
			width: 100%;
			margin-bottom: 20rpx;
			word-wrap: break-word;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	
		.picture {
			display: flex;
	
			image {
				width: 150rpx;
				height: 150rpx;
				border-radius: 8rpx;
				margin-right: 25rpx;
			}
		}
	}
	
	
	
	
	.text {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 13rpx;
		font-size: 13px;
		color: rgb(255, 255, 255);
		height: 30rpx;
		line-height: 35rpx;
		text-align: left;
		z-index: 100;
		
		white-space:nowrap; 
		overflow:hidden; 
		text-overflow:ellipsis;
	}
	
	.text-swiper {
		position: absolute;
		left: 15rpx;
		bottom: 15rpx;
		font-size: 12px;
		color: rgb(255, 255, 255);
		line-height: 0.857;
		z-index: 1000;
	}
			
	.grey {
		position: absolute;
		bottom: 0;
		background-color: rgb(191, 191, 191);
		opacity: 0.741;
		width: 100%;
		height: 50rpx;
		z-index: 10;
	}
	
	.swiper {
		width: 100%;
		padding: 0 40rpx;
		
		.swiper-i {
			width: 90%;
		}
		

	}
	

	
.new {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60rpx;
	margin: 40rpx 0;
	
	.new-up {
		width: 700rpx;
		height: 60rpx;
		line-height: 60rpx;
		font-size: 18px;
		color: rgb(218, 189, 123);
		text-align: center;
		letter-spacing: 8rpx;
	}
}

.new-items {
	position: relative;
	height: 400rpx;
	white-space: nowrap;
	overflow: auto;
	// display: -webkit-box;
	-webkit-overflow-scrolling: touch;
	margin-bottom: 30rpx;
	
	.new-item {
		position: relative;
		display: inline-block;
		width: 260rpx;
		height: 300rpx;
		border-radius: 20rpx;
		margin-left: 35rpx;
		overflow: hidden;
		box-shadow: 5px 15px 25px 0 rgb(191, 191, 191) ;

		img {
			width: 100%;
			height: 100%;
		}
		
	}
	
	.new-item:first-child{
	   margin-left: 35rpx;
	}
	
	.new-item:last-child{ 
	   margin-right: 30rpx;
	}
}

/* 隐藏滚动条 */
.new-items::-webkit-scrollbar {
  display: none;
}

.like {
	margin-top: -30rpx;
}

.like-items {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	width: 100%;
	min-height: 100rpx;
	margin-top: 20rpx;
	margin-bottom: 100rpx;
	
	.like-item {
		position: relative;
		display: inline-block;
		width: 305rpx;
		height: 250rpx;
		border-radius: 20rpx;
		margin-left: 35rpx;
		margin-bottom: 45rpx;
		overflow: hidden;
		box-shadow: 5px 15px 25px 0 rgb(191, 191, 191) ;

		img {
			width: 100%;
			height: 100%;
		}
		
	}
	
	.like-item:nth-of-type(even) {
		margin-left: 65rpx;
	}
	
}

.blank {
	width: 100%;
	height: 100rpx;
}

.top {
	position: relative;
	height: 300rpx;
	// border: 1px solid green;
}

.swiper {
	position: absolute;
	width: 90vw;
	height: 200rpx;
	left: 50%;
	transform: translateX(-50%); /* 移动元素本身50% */
	margin: 40rpx 0 0 0;
}